<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"/>
<body>

<header th:replace="~{fragments/menu}"></header>

<main>
    <div class="container-fluid">
        <div class="row" id="categoriesBar">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul id="categoriesUnorderedList" class="nav nav-pills flex-column red" style="display: none">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="${#session.getAttribute('activeCar') != null} ? '/cars/' + ${#session.getAttribute('activeCar').id} + '/repairs' : '#'">Repairs</a>
                    </li>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="#">Service Intervals</a>
                    </li>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="#">Insurance</a>
                    </li>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="#">Other payments</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div th:id="viewId" class="view" th:insert="~{${view}}">

        </div>
    </div>
</main>

<footer th:replace="fragments/footer-scripts"></footer>


</body>
</html>